<main role="main">
	<!-- Jumbotron -->
	<div class="jumbotron">
	  <h4>Welcome <%= current_employee.email%> </h4> 
	  <p class="lead"></p>
		<% if current_employee.profile.nil? %>
	    <%= link_to 'Create Profile', new_employee_profile_path(current_employee), :class => "btn btn-lg btn-success" %>
	    <div class="row"></div>
		<% else %> 
	    <%= link_to 'Edit Profile', edit_employee_profile_path(current_employee, current_employee.profile), :class => "btn btn-lg btn-success" %>
	    <div class="row" style= "margin-top:7%;">

		  	<div class="col-lg-4">
		  		<div class="panel panel-success">
						<div class="panel-heading">Birthday</div>
  					<div class="panel-body"><p> Your Birthday : <%= @date_of_birth %></p></div>
					</div>
		  	</div>
		  	<div class="col-lg-4">
		    	<div class="panel panel-success">
						<div class="panel-heading">Joining</div>
  					<div class="panel-body"><p> Your Date Of Joining : <%= @date_of_joining %></p></div>
					</div>
		  	</div>
		  	<div class="col-lg-4">
		  		<div class="panel panel-success">
		  			<div class="panel-heading">Leaves Status</div>
		  			<div class="panel-body">
		  				<% if !@leaves_status.nil? %>
								<p>Your leaves starting from <b><%= @leaves_start_date %></b> and ending on <b><%= @leaves_start_date %></b> is <%= @leaves_status%></p>
			    			<p><%= link_to 'View details &raquo;', employee_leaves_histories_path(current_employee), :class => "btn btn-primary", :role => "button"%>
></p>
			   			<% else %>
			    			<p>No Leaves Applied</p>
			    		<% end %>
		  			</div>
					</div>
			  </div>
			</div>
	  <% end %>
	<!--<p><a class="btn btn-lg btn-success" href="#" role="button">Create Profile</a></p>-->
	</div>
</main>

