<div class="container">
  

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
      <%= f.label :email, :class => "sr-only" %><br />
      <%= f.email_field :email, :class => "form-control", :placeholder => "Email address", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password ,:class => "sr-only" %><br />
      <%= f.password_field :password, :class => "form-control", autocomplete: "off", required: true %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me ,:class => "form-check-input" %>
        <%= f.label :remember_me, :class => "form-check-label" %>
      </div>
    <% end -%>
    <%= f.submit "Log in", :class=> "btn btn-lg btn-primary btn-block" %>
  <% end %>

  <%= render "employees/shared/links" %>
</div>