<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if employee_signed_in? %>
    <div class="container">
      <%= render 'layouts/header' %>         
          <div class='notice'>
            <% if notice %>
              <p style="width:20%;"class="alert alert-success text-center"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger text-center"><%= alert %></p>
            <% end %>
            <% if @errors %>
              <% @errors.each do |message| %>
                <%= message %>
              <% end %>
            <% end %>
          </div>
          <%= yield %>
        <%else %>
          <%= render 'layouts/messages' %>
          </div>
          <%= yield %>
        <% end %>
    </div>
  </body>
</html>









 
    
