<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
	  <% if employee_signed_in? %>
	    <div class="container">
	    	<%= render 'layouts/header' %>         
	       <% if flash %>
            <%= render 'layouts/messages' %>
          <% end %>
          <% if @errors %>
            <% @errors.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
	      
	      <%= yield %>
	    </div>
    <% else %>
      <% if flash %>
        <%= render 'layouts/messages' %>
      <% end %>
      <%= yield %>
    <% end %>
	  <div class="container">
	  	<%= render 'layouts/footer' %>
	  </div>  
  </body>
</html>









 
    
