<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
  	<% end %>
		<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
  	<% if employee_signed_in? %>
			<%= nav_bar fixed: :top, brand: "Employee Portal" do %>
  			<%= menu_group do %>
    			<%= menu_item current_employee.email  %>
      		<%= menu_item 'Edit Account', edit_employee_registration_path%>
      		<%= menu_item "Logout", destroy_employee_session_path, method: :delete %>
    		<% end %>
    	<% end %>
		<% end %>
		<%= yield %>
  </body>
</html>










 
    
